body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif; 
  height: 100vh;
}

.wrap {
  background: linear-gradient(90deg, #FFC0CB 0%, #D5D5D8 100%);
  border: 1px solid #eee;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  margin: auto;
  width: 700px;
  min-height: 600px;
}

.link_wrap {
  display: flex;
  width: 80%;
  justify-content: space-around;
}
 
.link {
  text-decoration: none;
  background: #F6EAED;
  color: grey;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 15px 0; 
}