body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  background: linear-gradient(90deg, #FFC0CB 0%, #B2FEFC 90%);
}

.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  margin: auto;
  width: 750px;
  min-height: 500px;
  border: 2px solid red;
  /* height: 600px; */
  
}

.link_wrap {
  display: flex;
  width: 80%;
  justify-content: space-around;
}
 
.link {
  text-decoration: none;
  background: #E2E2E2; 
  color: #BE848A;
  font-weight: bold;
  text-transform: uppercase;
  border: 1px solid #c4c4c4;
  border-radius: 37px;
  padding: 10px 20px;
  margin: 15px 0; 
  width: 100px;
  text-align: center;
}

.active_link {
 opacity: 0.5;
}

.link:hover {
  background: #eee;
 }