.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  min-height: 650px; 
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.info_wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
  width: 500px;
}

.about_wrap {
  
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about {
  
  height: 100px;
}

.socials_wrap {
  
  display: flex;
  justify-content: flex-end;
}

.socials {
  
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  margin: 0 0 5px 0;
}       

.name {
  text-decoration: none;
  font-size: 30px;
  color: #E996A0;
  
}

.bio, .location, .repos, .email {
  color: #999;
  font-size: 14px;
  font-style: italic;
}

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 15px;
  box-shadow: 0px 7px 38px -4px rgba(104, 111, 106, 0.18);
}

.location{
  display: flex;
}

.bio {
  font-weight: bold;
}

.email {
  display: flex;
  align-items: center;
  text-decoration: none;
}


.github, .vk, .telegram {
  color: #999;
  width: 30px;
  height: 15px;
}

.error_wrap {
  width: 100%;
  display: flex;
  justify-content: center;
}

.error {
  color: #E95A6A;
  text-transform: uppercase;
  
}


@media (max-width: 500px) {

  .wrap {
    width: 400px
  }
  .avatar {
    width: 120px;
    height: 120px;
    
  }
  .name {
    text-decoration: none;
    font-size: 20px;
    color: #E996A0;
    
  }
  .info_wrap {
    width: 400px;
  }
  
}





