.wrap {
  display: flex;
  justify-content: center;
}

.item_list {
  padding: 0; 
  width: 80%;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 200px;
}
   
.no_tasks {
  font-style: italic;
  color: #999;
}

@media (max-width: 500px) {
  .item_list {
    width: 50%;
  }
}
